<div class="incomplete-tag">
  <h3>This page is completely blank!</h3>
  <p>Unfortunately, there's nothing here yet; so there's nothing to read!</p>
  <p>If you would like to update this page, please visit <a href="//github.com/freedeck/wiki/blob/master/media/{$CURRENTPAGE}.md">the GitHub repository for the Wiki (direct link to this page)</a></p>
  <small>This page is located in media/{$CURRENTPAGE}.md</small>
</div>

<style>
  .incomplete-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(120,120,120,.5);
    color: white;
    padding: .25rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(255,255,255,0.25);
  }
</style>