<footer class="center" id="footer">
  <p>Freewiki is still a work in progress.</p>
  <p>
    If you see a bug, please <a href="https://freedeck.app/discord">join the Freedeck discord server.</a>
  </p>
  <p>
    Freewiki & Freedeck are projects by <a href="https://aidens.dev">Aiden S.</a>
  </p>
  <button class="ok" id="footer-ok">
    OK
  </button>
</footer>

<style>
  .center {
    text-align: center;
    background-color: rgba(12,12,12, 1);
    box-shadow: 0 0 2px 0 rgba(255,255,255,0.25);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: small;
    border-radius: 1.5rem 1.5rem 0 0;
    transition-duration: 1s;
  }
</style>

<script>
  const ftr = document.getElementById("footer");
  const isInLs = localStorage.getItem("fd.hide-footer");
  if(isInLs) ftr.style.display = 'none';
  document.getElementById("footer-ok").onclick = () => {
    ftr.style.bottom = '-100%';
    localStorage.setItem("fd.hide-footer", 'yes');
    setTimeout(() => {
      ftr.style.display = 'none';
    },1000)
  }
</script>