{{
  WIKITITLE=Freedeck Wiki
  PAGETITLE=Home
  BASEPATH=/
  MAINPAGE=/
  PAGES=,introduction,installation,setup,usage,tile-editor,plugins,themes,freewiki
  TITLES=Home,introduction,Installation,Setup,Using Freedeck,The Tile Editor,Plugins,Themes,Freewiki
  SECTIONS=Main,Tile Types,Extra,Plugins
  SECTION_PAGES=introduction,installation,setup,usage,tile-editor;tiles/audio,tiles/plugin,tiles/native,tiles/folder;app,plugins,themes,freewiki;plugins/obscontrol,plugins/wavelink,plugins/ytmd_v1
  SECTION_TITLES=Introduction,Installation,Setup,Using Freedeck,Editing Tiles;Audio,Plugin,Application Volume,Folder Switcher;The App,Plugins,Themes,Freewiki;OBSControl,WaveLink,YTMD (v1)
  SUBSECTIONS=Plugins
  SUBSECTION_PAGES=plugins_extended
  SUBSECTION_TITLES=Extra Info

  color_main=#2D2D32
  color_text=#f0f0f0
  color_link=#e0e0e0
  color_link_hover=#a0a0a0

  color_header=#161619

  color_body=#161619
  color_content=#0a0a0a
}}