{{
  WIKITITLE=Freedeck Wiki
  PAGETITLE=Home
  BASEPATH=/
  MAINPAGE=/
  PAGES=,installation,setup,usage,tile-editor,plugins,themes,freewiki
  TITLES=Home,Installation,Setup,Using Freedeck,The Tile Editor,Plugins,Themes,Freewiki
  SECTIONS=Main,Extra,Plugins
  SECTION_PAGES=installation,setup,usage;tile-editor,plugins,themes,freewiki;plugins/obscontrol
  SECTION_TITLES=Installation,Setup,Using Freedeck;The Tile Editor,Plugins,Themes,Freewiki;OBSControl
  SUBSECTIONS=Plugins
  SUBSECTION_PAGES=plugins_extended
  SUBSECTION_TITLES=Extra Info

  color_main=#2D2D32
  color_text=#f0f0f0
  color_link=#e0e0e0
  color_link_hover=#a0a0a0

  color_header=#161619

  color_body=#161619
  color_content=#0a0a0a
}}