<div id="header">
  <h2>{$PAGETITLE}</h2>
</div>

<style>
  #header h2 {
    text-align: center;
  }
  #header {
    background-color: {$color_header};
    color: {$color_text};
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.25);
  }
  .links {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
  }
  .link a {
    color:white;
    text-decoration: none;
    margin: 0 10px;
  }
</style>