<div class="official-plugin-tag">
  <img src="{$BASEPATH}assets/official.svg" width="150">
  <p>This means the plugin in this article:</p>
  <ul>
    <li>Made by Freedeck</li>
    <li>Hosted on Freedeck servers</li>
    <li>Documented by Freedeck</li>
  </ul>
</div>

<style>
  .official-plugin-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(120,120,120,.5);
    color: white;
    padding: .5rem;
    border-radius: 1.5rem;
    width: max-content;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
  }
</style>